---
import MainLayout from "@/layouts/MainLayout.astro";
import { SITE } from "@data/constants";

const pageTitle = `About Us | ${SITE.title}`;
---
<MainLayout title={pageTitle}>
  <section class="py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xxl px-4 md:px-8">
      <h1
        class="block text-balance text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 sm:text-4xl lg:text-6xl lg:leading-tight text-teal-500 dark:text-teal-400 ml-10"
      >
        A Little About Us
      </h1>
      <p
        class="ml-10 mt-3 text-pretty text-lg leading-relaxed text-neutral-700 dark:text-neutral-400 lg:w-4/5"
      >
        We’re more than just cloud consultants—we’re your co-pilots, helping you
        navigate the ever-evolving cloud landscape to deliver solutions that fit
        your business.
      </p>
      <p
        class="ml-10 mt-3 text-pretty text-lg leading-relaxed text-neutral-700 dark:text-neutral-400 lg:w-4/5"
      >
        Our agile, innovative team thrives on turning complex tech challenges
        into seamless, scalable solutions.
      </p>

      <h2
        class="block text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl lg:text-4xl lg:leading-tight text-teal-500 dark:text-teal-400 ml-10 mt-8"
      >
        Our Mission
      </h2>
      <p
        class="ml-10 mt-3 text-pretty text-lg leading-relaxed text-neutral-700 dark:text-neutral-400 lg:w-4/5"
      >
        We aim to simplify the cloud for businesses of all sizes. With a toolbox
        full of expertise in AWS & Kubernetes, we’re here to make your cloud
        aspirations not just possible, but effortless.
      </p>
      <h2
        class="block text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl lg:text-4xl lg:leading-tight text-teal-500 dark:text-teal-400 ml-10 mt-12"
      >
        What Makes Us Different
      </h2>
      <ul
        class="ml-10 mt-3 text-pretty text-lg leading-relaxed text-neutral-700 dark:text-neutral-400 lg:w-4/5"
      >
        <li>
          <strong>Agile and Adaptable:</strong> Being a small team means we’re quick
          on our feet. We tailor our services to fit your unique needs, no cookie-cutter
          solutions here!
        </li>
        <li>
          <strong>Deep Technical Roots:</strong> We’ve rolled up our sleeves on countless
          migrations and custom builds, tackling projects from the straightforward
          to the downright quirky.
        </li>
        <li>
          <strong>Passionate About Open Source:</strong> We love the collaborative
          spirit of open-source communities. It keeps us curious, innovative, and
          connected.
        </li>
      </ul>

      <h2
        class="block text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl lg:text-4xl lg:leading-tight text-teal-500 dark:text-teal-400 ml-10 mt-12"
      >
        Our Services
      </h2>
      <ul
        class="ml-10 mt-3 text-pretty text-lg leading-relaxed text-neutral-700 dark:text-neutral-400 lg:w-4/5"
      >
        <li>
          <strong>Cloud Migrations:</strong> Smooth transitions with minimal downtime,
          whether you’re moving a single application or an entire data center.
        </li>
        <li>
          <strong>Custom Solutions:</strong> Need something out of the ordinary?
          We build bespoke systems that scale with your business.
        </li>
        <li>
          <strong>Technical Consulting:</strong> From strategy to execution, we offer
          guidance every step of the way.
        </li>
      </ul>

      <h2
        class="block text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl lg:text-4xl lg:leading-tight text-teal-500 dark:text-teal-400 ml-10 mt-12"
      >
        Let’s Innovate Together
      </h2>
      <p
        class="ml-10 mt-3 text-pretty text-lg leading-relaxed text-neutral-700 dark:text-neutral-400 lg:w-4/5 mb-4"
      >
        Ready to unlock your business’s potential in the cloud? Let’s join
        forces to create something extraordinary. Reach out to us, and let’s get
        the conversation started!
      </p>
    </div>
  </section>
</MainLayout>
