---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import { SITE } from "@data/constants";
import HeroSection from "@components/sections/landing/HeroSection.astro";

const pageTitle = `About Us | ${SITE.title}`
---


<MainLayout title={pageTitle}>
  <section class="py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xxl px-4 md:px-8">
      <h1
  class="block text-balance text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 sm:text-4xl lg:text-6xl lg:leading-tight text-teal-500 dark:text-teal-400 ml-10"
>
  A Little About Us
</h1>
    <p
      class="ml-10 mt-3 text-pretty text-lg leading-relaxed text-neutral-700 dark:text-neutral-400 lg:w-4/5"
    >
    We’re more than just cloud consultants—we’re your co-pilots, helping you navigate the ever-evolving cloud landscape to deliver solutions that fit your business.
    </p>
    <p
      class="ml-10 mt-3 text-pretty text-lg leading-relaxed text-neutral-700 dark:text-neutral-400 lg:w-4/5"
    >
    Our agile, innovative team thrives on turning complex tech challenges into seamless, scalable solutions.
    </p>

  <!-- ABOUT US SECTION -->
      <section
  class="mx-auto grid gap-4 px-4 py-14 sm:px-6 md:grid-cols-2 md:items-center md:gap-8 lg:px-8 2xl:max-w-full"
>
  <div>

    <h1
      class="block text-balance text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 sm:text-4xl lg:text-6xl lg:leading-tight"
    >

    <p
      class="mt-3 text-pretty text-lg leading-relaxed text-neutral-700 dark:text-neutral-400 lg:w-4/5"
    >
    We’re more than just cloud consultants—we’re your co-pilots, helping you navigate the ever-evolving cloud landscape to deliver solutions that fit your business.
    </p>
    <p
      class="mt-3 text-pretty text-lg leading-relaxed text-neutral-700 dark:text-neutral-400 lg:w-4/5"
    >
    Our agile, innovative team thrives on turning complex tech challenges into seamless, scalable solutions.
    </p>



  </div>
</section>



      <h1 class="mb-4 text-balance text-center text-2xl font-bold text-neutral-800 dark:text-neutral-200 sm:text-3xl md:mb-6 md:text-left">
        About Us
      </h1>

      <!-- Article Content -->
      <article class="text-pretty text-lg text-neutral-700 dark:text-neutral-300">
        <p>We’re more than just cloud consultants—we’re your co-pilots, helping you navigate the ever-evolving cloud landscape to deliver solutions that fit your business. Our agile, innovative team thrives on turning complex tech challenges into seamless, scalable solutions.</p>

        <!-- Mission Section -->
        <h2 class="mb-4 mt-6 font-bold text-neutral-800 dark:text-neutral-200 sm:text-2xl">Our Mission</h2>
        <p>
          We aim to simplify the cloud for businesses of all sizes. With a knack for innovation and a toolbox full of expertise in AWS, Kubernetes, and Infrastructure as Code (IaC), we’re here to make your cloud aspirations not just possible, but effortless.
        </p>

        <!-- What Makes Us Different Section -->
        <h2>What Makes Us Different</h2>
        <ul>
          <li><strong>Agile and Adaptable:</strong> Being a small team means we’re quick on our feet. We tailor our services to fit your unique needs, no cookie-cutter solutions here!</li>
          <li><strong>Deep Technical Roots:</strong> We’ve rolled up our sleeves on countless migrations and custom builds, tackling projects from the straightforward to the downright quirky.</li>
          <li><strong>Passionate About Open Source:</strong> We love the collaborative spirit of open-source communities. It keeps us curious, innovative, and connected.</li>
        </ul>

        <!-- Services Section -->
        <h2>Our Services</h2>
        <ul>
          <li><strong>Cloud Migrations:</strong> Smooth transitions with minimal downtime, whether you’re moving a single application or an entire data center.</li>
          <li><strong>Custom Solutions:</strong> Need something out of the ordinary? We build bespoke systems that scale with your business.</li>
          <li><strong>Technical Consulting:</strong> From strategy to execution, we offer guidance every step of the way.</li>
        </ul>

        <!-- Call to Action -->
        <h2>Let’s Innovate Together</h2>
        <p>
          Ready to unlock your business’s potential in the cloud? Let’s join forces to create something extraordinary. Reach out to us, and let’s get the conversation started!
        </p>
      </article>
    </div>
  </section>
</MainLayout>
