blockquote {
  @apply border-l-4 border-gray-400 pl-4 italic text-neutral-500;
}

code:not(pre code) {
  @apply rounded-md bg-gray-200 bg-neutral-600 px-1.5 py-0.5 font-mono text-sm text-neutral-100;
}

.dark code:not(pre code) {
  @apply bg-gray-300 text-neutral-800;
}

ul:not(footer ul) {
  @apply mt-5 list-disc pl-5;
}

ol {
  @apply mt-5 list-decimal pl-5;
}

article a {
  @apply text-teal-300 hover:text-teal-500
}

.astro-code {
  @apply mt-5 rounded-lg p-4 pl-4 text-xs sm:text-sm;
  white-space: pre-wrap;
  word-break: break-word;
}

.dark .astro-code {
  @apply bg-gray-100 bg-neutral-200 text-neutral-300;
  background-color: #2f363c !important;
}
