blockquote {
  @apply border-l-4 border-gray-400 pl-4 italic text-neutral-500;

}

code:not(pre code) {
  @apply bg-gray-200 bg-neutral-600 text-neutral-100 font-mono px-1.5 py-0.5 rounded-md text-sm;
}

.dark code:not(pre code) {
  @apply bg-gray-300 text-neutral-800 font-mono px-1.5 py-0.5 rounded-md text-sm;
}

ul:not(footer ul) {
  @apply list-disc pl-5 mt-5;
}

ol {
  @apply list-decimal pl-5 mt-5;
}

/* Light mode styles for code blocks */
.astro-code.github-dark {
  @apply bg-red-100 mt-5 p-4 pl-4 rounded-lg;
}

/* Dark mode styles for code blocks */
.dark .astro-code.github-dark {
  @apply bg-gray-100 bg-neutral-200 text-neutral-300;
  background-color: #2f363c !important;
}
